@charset "UTF-8";
div, p, section, ul, li, a, img, body {
  margin: 0;
  padding: 0; }

.main {
  box-sizing: border-box;
  color: white; }

.menu-container {
  display: none; }

.header {
  max-width: 100%;
  font-family: Lato, ﻿AdobeInvisFont, serif;
  background-image: url("../img/header-fon.png");
  background-position: center;
  background-size: cover; }

.header-position {
  margin: 0 auto; }

.nav {
  font-family: Lato, ﻿AdobeInvisFont, serif;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch; }
  .nav__logo {
    display: none;
    background-color: #373c3f;
    padding: 1%; }
    .nav__logo:hover {
      display: none; }
  .nav__title {
    background-color: #373c3f;
    font-size: 13px;
    width: 87%; }
  .nav__menu {
    padding: 4%;
    text-align: center;
    background-color: #202529;
    width: 5%;
    position: relative; }
    .nav__menu:hover * {
      display: block; }
  .nav__span {
    display: block;
    font-family: Montserrat, ﻿AdobeInvisFont, serif;
    padding: 3.5% 0 5% 5%; }
  .nav__menu-line {
    position: relative;
    height: 10px;
    border-bottom: 2px solid white;
    box-sizing: border-box;
    transition: all .5s;
    cursor: pointer;
    overflow: hidden; }
    .nav__menu-line:before {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      content: "";
      display: block;
      height: 2px;
      background: white;
      transition: all .5s; }
    .nav__menu-line:after {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      content: "";
      display: block;
      height: 2px;
      background: white;
      transition: transform .5s, width 2s; }
  .nav__menu-line:hover, .nav__menu-line:active {
    border: 0;
    cursor: pointer; }
    .nav__menu-line:hover:before, .nav__menu-line:active:before {
      content: "";
      display: block;
      width: 100%;
      transform: rotate(45deg);
      background: white;
      top: 100%;
      margin-top: -38%;
      left: 0;
      margin-left: -0%; }
    .nav__menu-line:hover:after, .nav__menu-line:active:after {
      content: "";
      display: block;
      width: 100%;
      transform: rotate(-45deg);
      background: white;
      top: 100%;
      margin-top: -38%;
      left: 0;
      margin-left: 0; }
  .nav__bubble-menu {
    display: none;
    width: 183px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fafafa;
    border: 1px solid #f5f5f5; }
    .nav__bubble-menu:active {
      display: none; }
  .nav__bubble-item {
    text-align: left;
    border: 1px solid #f2f2f2;
    font-size: 12px;
    color: #3f4043;
    padding: 3.5%; }
    .nav__bubble-item:hover {
      background-color: #f5f5f5; }

.title-text {
  width: 100%;
  text-align: left; }
  .title-text__text {
    font-weight: bold;
    margin-bottom: 0.5%;
    font-size: 16px; }
  .title-text__text-link {
    font-weight: bold;
    font-size: 14px;
    color: #9bc8d1; }

.header-title {
  padding: 3.5% 5% 29%; }

.gallery {
  width: 100%;
  display: flex;
  justify-content: stretch;
  text-align: center;
  color: white;
  font-family: Lato, ﻿AdobeInvisFont, serif; }
  .gallery__link {
    text-decoration: none;
    color: white; }
  .gallery__content-delivery {
    background-image: url("../img/pizza-delivery-fon.png");
    background-position: bottom;
    background-size: cover;
    width: 78%;
    padding: 7% 0; }
  .gallery__content-salads {
    background-image: url("../img/salads-fon.png");
    background-position: bottom;
    background-size: cover;
    width: 78%;
    padding: 7% 0; }
  .gallery__content-deserts {
    background-image: url("../img/desserts- fon.png");
    background-position: top;
    background-size: cover;
    width: 78%;
    padding: 7% 0; }
  .gallery__text {
    font-weight: bold;
    font-size: 20px; }
  .gallery__box-arrow {
    padding: 8% 0;
    width: 22%;
    background-color: #acd8ad; }
  .gallery__arrow-icon {
    color: #fefeff; }

.gallery-position {
  margin: 4px auto; }

.description {
  font-family: Lato, ﻿AdobeInvisFont, serif; }
  .description__logo-menu {
    display: none; }
  .description__title {
    padding-top: 4%; }
  .description__title-text {
    font-size: 20px;
    text-transform: uppercase;
    color: #3f4043;
    text-align: center; }
  .description__sub-text {
    color: #cbccce;
    font-size: 10px;
    padding-left: 12px; }

.menu-box {
  font-family: Lato, ﻿AdobeInvisFont, serif; }

.menu-header {
  width: 100%; }
  .menu-header__title--dark {
    color: #acd8ad;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 2%;
    padding: 1% 0 1% 5%;
    background-color: #3f4043; }
  .menu-header__title--light {
    color: white;
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 9%;
    padding: 0.5% 0 1.5% 5%;
    background-color: #acd8ad; }

.menu-subtitle--waffle {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 4% 0 3% 4%; }

.menu-subtitle--wine {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 5% 0 2.5% 4%; }

.menu-subtitle--coffee {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 4.5% 0 2.5% 5%; }

.menu-subtitle--beer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 5% 0 2.5% 4%; }

.menu-subtitle__title--waffle {
  text-transform: uppercase;
  font-size: 15px;
  color: #3f4043; }

.menu-subtitle__title--wine {
  text-transform: uppercase;
  font-size: 15px;
  color: #3f4043; }

.menu-subtitle__title--coffee {
  text-transform: uppercase;
  font-size: 15px;
  color: #3f4043; }

.menu-subtitle__title--beer {
  text-transform: uppercase;
  font-size: 15px;
  color: #3f4043; }

.menu-subtitle__icon-green {
  color: #acd8ad;
  font-size: 25px; }

.menu-item {
  width: 91%; }
  .menu-item__dish-name {
    display: inline-block;
    font-size: 15px;
    color: #3f4043;
    width: 79%; }
  .menu-item__dish-price {
    width: 19%;
    display: inline-block;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    color: #3f4043; }
  .menu-item__dish-descr {
    font-size: 9px;
    text-align: justify;
    color: #3f4043; }

.menu-position {
  margin: 0 auto; }

.footer {
  text-align: center;
  background-color: #acd8ad;
  font-family: Montserrat, ﻿AdobeInvisFont, serif; }
  .footer__logo {
    display: none; }
  .footer__text {
    font-size: 12px;
    color: white;
    margin-bottom: 5px; }
  .footer__subtext {
    font-size: 12px;
    color: white; }

.footer-position {
  padding: 3% 0 3%;
  margin-top: 15%; }

@media screen and (min-width: 640px) {
  .nav__title {
    font-size: 24px; }
  .nav__menu-line {
    height: 22px;
    border-bottom: 4px solid white; }
    .nav__menu-line:before {
      height: 4px; }
    .nav__menu-line:after {
      height: 4px; }
  .nav__bubble-menu {
    width: 243px; }
  .nav__bubble-item {
    font-size: 14px;
    padding: 4%; }
  .title-text__text {
    font-size: 34px; }
  .title-text__text-link {
    font-size: 24px; }
  .gallery__text {
    font-size: 36px; }
  .gallery__box-arrow {
    font-size: 21px; }
  .description__title-text {
    font-size: 36px;
    text-align: justify-all; }
  .description__sub-text {
    font-size: 15px;
    padding-left: 7%; }
  .menu-header__title--dark, .menu-header__title--light {
    font-size: 36px;
    padding: 1.5% 0 1.5% 2%; }
  .menu-subtitle__title--waffle {
    font-size: 27px; }
  .menu-subtitle__title--wine {
    font-size: 27px; }
  .menu-subtitle__title--coffee {
    font-size: 27px; }
  .menu-subtitle__title--beer {
    font-size: 27px; }
  .menu-subtitle__icon-green {
    font-size: 42px; }
  .menu-item__dish-name {
    font-size: 27px; }
  .menu-item__dish-price {
    font-size: 27px; }
  .menu-item__dish-descr {
    font-size: 17px; }
  .footer__text {
    font-size: 18px;
    padding-top: 2%; }
  .footer__subtext {
    font-size: 18px;
    padding-bottom: 2%; } }

@media screen and (min-width: 980px) {
  .nav {
    background-color: #373c3f; }
    .nav__menu {
      display: none; }
    .nav__menu-line {
      display: none; }
    .nav__span {
      display: none; }
  .menu-container, .nav__logo {
    display: block; }
  .menu-container {
    width: 70%; }
    .menu-container__ul {
      display: flex;
      justify-content: space-between;
      list-style: none; }
    .menu-container__li {
      width: 20%;
      list-style: none;
      text-decoration: none;
      font-size: 15px;
      color: white;
      text-transform: uppercase;
      font-family: Montserrat, ﻿AdobeInvisFont, serif; }
  .nav-menu-position {
    margin: 3.5% 0 4% 5%; }
  .gallery-container {
    display: flex; }
  .gallery__box-arrow {
    display: none; }
  .gallery__content-delivery, .gallery__content-salads, .gallery__content-deserts {
    background-size: cover;
    width: 100%;
    padding: 42% 0; }
  .gallery__text {
    font-size: 38px; }
  .description__box {
    width: 70%; }
  .description__title {
    display: flex;
    justify-content: space-between; }
  .description__title-text {
    text-align: left;
    padding-left: 2%;
    font-size: 32px; }
  .description__sub-text {
    padding-left: 2%;
    font-size: 15px; }
  .description__logo-menu {
    text-align: right;
    display: block;
    padding-right: 5%;
    padding-bottom: 1%; }
  .menu-subtitle__icon-green {
    font-size: 42px; }
  .menu-box {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .menu-header--light {
    font-size: 32px;
    margin-top: 0;
    padding: 0 0 0.5% 5%; }
  .menu-header--dark {
    font-size: 32px; }
  .menu-header__title--light, .menu-header__title--dark {
    margin-top: 0; }
  .footer__logo {
    display: block; }
  .footer {
    display: flex; }
    .footer__logo {
      text-align: left;
      padding-left: 5%;
      padding-right: 15%; }
    .footer__text {
      padding-top: 4%; }
    .footer__subtext {
      padding-top: 4%; }
  .footer-position {
    padding: 1% 0 1%; } }

@media screen and (min-width: 1200px) {
  .nav-menu-position {
    margin: 3% 0 0 5%; }
  .nav__menu {
    padding: 0.5%; }
  .nav__logo {
    padding-top: 1.5%; }
  .title-text__text {
    font-size: 62px; }
  .title-text__text-link {
    font-size: 38px; }
  .gallery__text {
    font-size: 43px; }
  .menu-subtitle__title--waffle {
    margin-right: 29%; }
  .menu-subtitle__title--wine {
    margin-right: 29%; }
  .menu-subtitle__title--coffee {
    margin-right: 29%; }
  .menu-subtitle__title--beer {
    margin-right: 24%; }
  .menu-subtitle__icon-green {
    font-size: 47px; }
  .footer__logo {
    padding-right: 35%; }
  .footer__text {
    padding-top: 3%; }
  .footer__subtext {
    padding-top: 3%; } }
