
.footer{
  text-align: center;
  background-color: $color-green;
  font-family: $font-family-nav;
  &__logo {
    display: none;
  }
    &__text {
    font-size: 12px;
    color: white;
    margin-bottom: 5px;
  }
  &__subtext {
    font-size: 12px;
    color: white;
  }
 }


.footer-position {
  padding: 3% 0 3%;
  margin-top: 15%;
}