.gallery {
  width: 100%;
  display: flex;
  justify-content: stretch;
  text-align: center;
  color: $title-color;
  font-family: $font-family-title;
  &__link{
    text-decoration: none;
    color: $title-color;
  }


  &__content-delivery {
    background-image: url("../img/pizza-delivery-fon.png");
    background-position: bottom;
   @include gallery-bg;
  }
  &__content-salads {
    background-image: url("../img/salads-fon.png");
    background-position: bottom;
    @include gallery-bg;
  }
  &__content-deserts{
      background-image: url("../img/desserts- fon.png");
      background-position: top;
      @include gallery-bg;
    }
  &__text {
    font-weight: bold;
    font-size: 20px;
  }
  &__box-arrow {
    padding: 8% 0;
    width:22%;
    background-color: $color-green;
         }
  &__arrow-icon {
     color: #fefeff;
  }
}

.gallery-position{
  margin: 4px auto;

}

