.main {
   box-sizing: border-box;
   color: $title-color;
   //margin: 0;
   //padding: 0;

 }
.menu-container  {
  display: none;
}
.header {
  max-width: $cont-width;
  font-family: $font-family-title;
  background-image: url("../img/header-fon.png") ;
  @include bg-position;

   }

.header-position {
  margin: 0 auto;
}

.nav {
  font-family: $font-family-title;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  &__logo {
    display: none;
    background-color: #373c3f;
    padding: 1%;
    &:hover {
      display: none;
    }
  }

  &__title {

    background-color: #373c3f;
    font-size: 13px;
    width: 87%;
      }
  &__menu {
    padding: 4%;
    text-align: center;
    background-color: #202529;
    width: 5%;
    position: relative;
    &:hover *{
      display: block;
    }
  }

  &__span {
    display: block;
    font-family: $font-family-nav;
    padding: 3.5% 0 5% 5%;
  }
  &__menu-line {
    position: relative;
    height: 10px;
    border-bottom: 2px solid $title-color;
    box-sizing: border-box;
    transition: all .5s;
    cursor: pointer;
    overflow: hidden;

    &:before{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      content: "";
      display: block;
      height: 2px;
      background:$title-color;
      transition: all .5s;
    }
    &:after{
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      content: "";
      display: block;
      height: 2px;
      background: $title-color;
       transition: transform .5s, width 2s;
    }
     }



  &__menu-line:hover, &__menu-line:active  {
      border: 0;
      cursor: pointer;

      &:before{
        content: "";
        display: block;
        width: 100%;
        transform: rotate(45deg);
        background: $title-color;
        top: 100%;
        margin-top: -38%;
        left: 0;
        margin-left: -0%;
      }
      &:after{
        content: "";
        display: block;
        width: 100%;
        transform: rotate(-45deg);
        background: $title-color;
        top: 100%;
        margin-top: -38%;
        left: 0;
        margin-left: 0;
      }
    }
  &__bubble-menu {
    display: none;
    width: 183px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fafafa;
    border: 1px solid #f5f5f5;
    &:active {
      display: none;
    }
      }
  &__bubble-item{
    text-align: left;
    border: 1px solid #f2f2f2;
    font-size: 12px;
    color: $color-menu;
    padding: 3.5%;
     &:hover {
       background-color: #f5f5f5;
     }
  }
}


 .title-text {
   width: 100%;
   text-align: left;

   &__text {
     font-weight: bold;
     margin-bottom: 0.5%;
     font-size: 16px;
   }

   &__text-link {
     font-weight: bold;
     font-size: 14px;
     color: #9bc8d1;
   }
 }
.header-title {
  padding:3.5% 5% 29%;

}
