//----------------------640 px---------------------------------
@media screen and (min-width: 640px){

.nav {
  &__title{font-size:  24px; }
  &__menu-line {
    height: 22px;
    border-bottom: 4px solid white;

    &:before {
      height: 4px;
    }
    &:after {
      height: 4px;
    }}
  &__bubble-menu {
    width: 243px;
  }
  &__bubble-item {
    font-size: 14px;
    padding: 4%;
  }
}
.title-text{
  &__text {
  font-size: 34px;}
  &__text-link {
    font-size: 24px;
  }
}
.gallery{
   &__text {
  font-size: 36px;}
  &__box-arrow {
    font-size: 21px;
  }
}
  .description {
    &__title-text {
      font-size: 36px;
      text-align: justify-all;
    }
    &__sub-text {
      font-size: 15px;
      padding-left: 7%;
    }
  }

  .menu-header {
    &__title--dark, &__title--light{
      font-size: 36px;
      padding: 1.5% 0 1.5% 2%;
    }
  }
  .menu-subtitle {
  &__title {
    &--waffle{
     font-size: 27px;
       }
    &--wine {
      font-size: 27px;
        }
    &--coffee{
      font-size: 27px;
       }
    &--beer {
      font-size: 27px;
        }}
    &__icon-green {
      font-size: 42px;
    }
}
  .menu-item {
     &__dish-name {
     font-size: 27px;

    }
    &__dish-price{
      font-size: 27px;
     ;
    }
    &__dish-descr {
     font-size: 17px;
      }
  }

  .footer {
    &__text{
      font-size: 18px;
      padding-top: 2%;
    }
    &__subtext {
      font-size: 18px;
      padding-bottom: 2%;
    }
  }
}

//------------------------------------------980px---------------------------------------------

@media screen and (min-width: 980px){
  .nav {
    background-color: #373c3f;

   &__menu {
     display: none;

    }
  &__menu-line {
    display: none;
  }
    &__span {
      display: none;
    }
  }
  .menu-container, .nav__logo {
    display: block;
  }

  .menu-container {
    width: 70%;
    &__ul{
    display: flex;
    justify-content: space-between;
    list-style: none}

    &__li {
      width: 20%;
      list-style: none;
      text-decoration: none;
      font-size: 15px;
      color: white;
      text-transform: uppercase;
      font-family: $font-family-nav;
    }
  }
  .nav-menu-position {
    margin: 3.5% 0 4% 5%;
  }
  .gallery-container {
    display: flex;
     }
  .gallery {
    &__box-arrow {
      display: none;
    }
    &__content-delivery, &__content-salads, &__content-deserts {
 @include gallery-bg-row;
    }
    &__text {
      font-size: 38px;
    }
  }
.description {
  &__box {
    width: 70%;
  }
  &__title {
    display: flex;
    justify-content: space-between;
  }
  &__title-text {
    text-align: left;
    padding-left: 2%;
    font-size: 32px;
  }
  &__sub-text {
    padding-left: 2%;
    font-size: 15px;
  }
  &__logo-menu {
    text-align: right;
    display: block;
    padding-right: 5%;
    padding-bottom: 1%;

  }
}
   .menu-subtitle{
    &__icon-green {
      font-size: 42px;
    }}
  .menu-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .menu-header--light {
    font-size: 32px;
    margin-top: 0;
    padding: 0 0 0.5% 5%;
  }
  .menu-header--dark {
    font-size: 32px;
  }
  .menu-header__title--light,  .menu-header__title--dark{
    margin-top: 0;
  }

  .footer__logo {
    display: block;
  }
  .footer {
    display: flex;
    &__logo {
      text-align: left;
      padding-left: 5%;
      padding-right: 15%;
    }
    &__text {
      padding-top: 4%;
    }
    &__subtext {
      padding-top: 4%;
    }
  }
  .footer-position {
    padding: 1% 0 1%;
  }
}


////--------------------------------------1200px-------------------------------------------
@media screen and (min-width: 1200px) {
  .nav-menu-position {
    margin: 3% 0 0 5%;
  }
  .nav {
    &__menu {
      padding: 0.5%;
    }
    &__logo {
      padding-top: 1.5%;
    }
  }
  .title-text {
    &__text {
      font-size: 62px;
    }
    &__text-link {
      font-size: 38px;
    }
  }
  .gallery {
    &__text {
      font-size: 43px;
    }
  }
  .menu-subtitle{
    &__title{
      &--waffle{
        margin-right: 29%
    }
      &--wine{
        margin-right: 29%
      }
      &--coffee{
        margin-right: 29%
      }
      &--beer{
        margin-right: 24%
      }
    }
    &__icon-green {
      font-size: 47px;
    }
  }
  .footer{
   &__logo {
    padding-right: 35%;}
    &__text {
    padding-top: 3%;
  }
    &__subtext {
      padding-top: 3%;
    }
  }


}