.description {
  font-family: $font-family-title;
  &__logo-menu {
    display: none;
  }
  &__title{
     padding-top: 4%;
  }
  &__title-text {
    font-size: 20px;
    text-transform: uppercase;
    color: $color-menu;
    text-align: center;
  }
  &__sub-text{
    color: rgba(203, 204, 206, 255);
    font-size: 10px;
    padding-left: 12px;
  }
}
.menu-box {
  font-family: $font-family-title;
}
.menu-header{
  width: 100%;
  &__title {

    &--dark{
      color: $color-green;
      font-size: 22px;
      text-transform: uppercase;
      margin-top: 2%;
      padding: 1% 0 1% 5%;
      background-color: $color-menu;
    }
     &--light {
       color: white;
       font-size: 22px;
       text-transform: uppercase;
       margin-top: 9%;
       padding: 0.5% 0 1.5% 5%;
       background-color: $color-green;
     }
     }
  }

.menu-subtitle {
  &--waffle{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 4% 0 3% 4%
  }
  &--wine{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 5% 0 2.5% 4%
  }
  &--coffee{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 4.5% 0 2.5% 5%
  }
  &--beer{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 5% 0 2.5% 4%
  }
  &__title {
    &--waffle {
      text-transform: uppercase;
      font-size: 15px;
      color: $color-menu;
         }
    &--wine {
      text-transform: uppercase;
      font-size: 15px;
      color: $color-menu;

    }
    &--coffee{
      text-transform: uppercase;
      font-size: 15px;
      color: $color-menu;

    }
    &--beer {
      text-transform: uppercase;
      font-size: 15px;
      color: $color-menu;

    }
  }

  &__icon-green {
    color: $color-green;
    font-size: 25px;
  }
}

.menu-item {
  width: 91%;
  &__dish-name {
    display: inline-block;
    font-size: 15px;
    color: $color-menu;
    width: 79%;
  }
  &__dish-price{
       width: 19%;
    display: inline-block;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    color: $color-menu;
  }
  &__dish-descr {

    font-size: 9px;
    text-align: justify;
    color: $color-menu;
  }

}
.menu-position {
  margin: 0 auto;
}