@mixin bg-position {
  background-position: center;
  background-size: cover;
   }

@mixin gallery-bg {
  background-size: cover;
  width: 78%;
  padding: 7% 0;
}

@mixin gallery-bg-row {
  background-size: cover;
  width: 100%;
  padding: 42% 0;
}